<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <Client.Properties.Settings>
            <setting name="Client_alsiService_AlsiNotifyService" serializeAs="String">
                <value>http://alsitm.com.winhost.wa.co.za/AlsiNotifyService.asmx</value>
            </setting>
            <setting name="Client_localhost_AlsiNotifyService" serializeAs="String">
                <value>http://localhost:4979/AlsiNotifyService.asmx</value>
            </setting>
        </Client.Properties.Settings>
    </applicationSettings>
</configuration>