<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AlgoSecondLayer.Properties.Settings.Rsi_ADXConnectionString"
            connectionString="Data Source=PIETER-PC;Initial Catalog=Rsi_ADX;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="AlgoSecondLayer.Properties.Settings.ALSI_SIMConnectionString"
            connectionString="Data Source=85.214.244.19;Initial Catalog=ALSI_SIM;User ID=SimLogin"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
