<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FrontEnd.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <FrontEnd.Properties.Settings>
            <setting name="A1" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="A2" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="B1" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="B2" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="C" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="VOL" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="STOP" serializeAs="String">
                <value>-250</value>
            </setting>
            <setting name="PROF" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="HISAT_INST" serializeAs="String">
                <value>MAR13ALSI</value>
            </setting>
            <setting name="OTS_INST" serializeAs="String">
                <value>FHD20 ALSI </value>
            </setting>
            <setting name="Live_Start_Date" serializeAs="String">
                <value>2012-01-01</value>
            </setting>
        </FrontEnd.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
