<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NotifierClientApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NotifierClientApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <NotifierClientApp.Properties.Settings>
            <setting name="OrderUpdateInt" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="StatusUpdateInt" serializeAs="String">
                <value>2500</value>
            </setting>
            <setting name="StatusDelayInt" serializeAs="String">
                <value>20</value>
            </setting>
        </NotifierClientApp.Properties.Settings>
    </userSettings>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <NotifierClientApp.Properties.Settings>
            <setting name="NotifierClientApp_AlsiWebService_AlsiNotifyService"
                serializeAs="String">
                <value>http://alsitm.com/AlsiNotifyService.asmx</value>
            </setting>
        </NotifierClientApp.Properties.Settings>
    </applicationSettings>
</configuration>