<?xml version="1.0"?>

<!--

Copyright 2012 Akram El Assas.

Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements. See the NOTICE file
distributed with this work for additional information
regarding copyright ownership. The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License. You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied. See the License for the
specific language governing permissions and limitations
under the License.

-->

<configuration>
  <appSettings />
  <connectionStrings />
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <!--
      La section <authentication> permet de configurer 
    le mode d'authentification de la sécurité utilisé par 
    ASP.NET pour identifier un utilisateur entrant. 
    -->
    <authentication mode="Windows" />
    <!--
      La section <customErrors> permet de configurer 
      les actions à exécuter si/quand une erreur non gérée se produit 
      lors de l'exécution d'une requête. Plus précisément, 
      elle permet aux développeurs de configurer les pages d'erreur html 
      pour qu'elles s'affichent à la place d'une trace de la pile d'erreur.

    <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
      <error statusCode="403" redirect="NoAccess.htm" />
      <error statusCode="404" redirect="FileNotFound.htm" />
    </customErrors>
    -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <!-- 
    La section system.webServer est requise pour exécuter ASP.NET AJAX sur Internet
    Information Services 7.0. Elle n'est pas nécessaire pour les versions antérieures des services Internet (IIS).
  -->
</configuration>