<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AlsiUtils.Properties.Settings.AlsiTradeConnectionString"
            connectionString="Data Source=ALSI-PC\SQLEXPRESS;Initial Catalog=AlsiTrade;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="AlsiUtils.Properties.Settings.AlsiTradeConnectionString1"
            connectionString="Data Source=ALSI-PC;Initial Catalog=AlsiTrade;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="AlsiUtils.Properties.Settings.AlsiTradeConnectionString2"
            connectionString="Data Source=PIETER-PC\;Initial Catalog=AlsiTrade;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="AlsiUtils.Properties.Settings.emaSimConnectionString"
            connectionString="Data Source=PIETER-PC;Initial Catalog=emaSim;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="AlsiUtils.Properties.Settings.AlsiDbConnectionString"
            connectionString="Data Source=sql.alsitm.com,1444;Initial Catalog=AlsiDb;User ID=Pieter;Password=1Rachelle"
            providerName="System.Data.SqlClient" />
        <add name="AlsiUtils.Properties.Settings.AlsiDbConnectionString1"
            connectionString="Data Source=sql.alsitm.com,1444;Initial Catalog=AlsiDb;Persist Security Info=True;User ID=Pieter;Password=1Rachelle"
            providerName="System.Data.SqlClient" />
        <add name="AlsiUtils.Properties.Settings.AlsiTMConnectionString"
            connectionString="Data Source=sql.alsitm.com,1444;Initial Catalog=AlsiTM;Persist Security Info=True;User ID=Pieter"
            providerName="System.Data.SqlClient" />
        <add name="AlsiUtils.Properties.Settings.AlsiTMConnectionString1"
            connectionString="Data Source=sql.alsitm.com,1444;Initial Catalog=AlsiTM;Persist Security Info=True;User ID=Pieter;Password=1Rachelle"
            providerName="System.Data.SqlClient" />
        <add name="AlsiUtils.Properties.Settings.AlsiWebConnectionString"
            connectionString="Data Source=85.214.244.19;Initial Catalog=AlsiWeb;Persist Security Info=True;User ID=Tradebot;Password=boeboe"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
