<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ModernNotifier.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ModernNotifier.Properties.Settings>
            <setting name="ForeColor_R" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ForeColor_B" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ForeColor_G" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>dark</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>Small</value>
            </setting>
        </ModernNotifier.Properties.Settings>
    </userSettings>
</configuration>