<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NinjaTest.Properties.Settings.SimConnectionString"
            connectionString="Data Source=PIETER-PC\SQLEXPRESS;Initial Catalog=Sim;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>