<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NinjaTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="NinjaTest.Properties.Settings.SimConnectionString"
            connectionString="Data Source=PIETER-PC\SQLEXPRESS;Initial Catalog=Sim;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <NinjaTest.Properties.Settings>
            <setting name="NinjaTest_AlsiWebService_AlsiNotifyService" serializeAs="String">
                <value>http://alsitm.com.winhost.wa.co.za/AlsiNotifyService.asmx</value>
            </setting>
        </NinjaTest.Properties.Settings>
    </applicationSettings>
</configuration>